body {
  font-family: arial;
}

.list,
.input__grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
}

.list {
  align-items: center;
}

.input__grid {
  margin-bottom: 10px;
}

.userItem,
.userDate {
  font-size: 15px;
  padding: 6px;
}

.addItem {
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 20px;
}

.delete__btn {
  background-color: darkred;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 20px;
}
